USE [master]
GO
/****** Object:  Database [TpRESTAURANTE]    Script Date: 6/24/2024 1:34:15 PM ******/
CREATE DATABASE [TpRESTAURANTE]
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpRESTAURANTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpRESTAURANTE]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[TELEFONO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMANDA]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMANDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](255) NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_COCINERO] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_COMANDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETIQUETA]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETIQUETA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ETIQUETA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO](
	[ID_PADRE] [int] NOT NULL,
	[ID_HIJO] [int] NOT NULL,
 CONSTRAINT [PK_GRUPO] PRIMARY KEY CLUSTERED 
(
	[ID_PADRE] ASC,
	[ID_HIJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMA]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDIOMA] [varchar](50) NOT NULL,
	[PREESTABLECIDO] [bit] NOT NULL,
 CONSTRAINT [PK_IDIOMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENTE]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENTE](
	[COD_INGREDIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_INGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[COD_INGREDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_PRODUCTO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_PRODUCTO](
	[COD_PRODUCTO] [int] NOT NULL,
	[NRO_PEDIDO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO_COMPRA] [float] NOT NULL,
 CONSTRAINT [PK_ITEM_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTO] ASC,
	[NRO_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_DE_PAGO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_DE_PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TOTAL] [float] NOT NULL,
	[ID_METODO] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_EFECTIVO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_EFECTIVO](
	[ID] [int] NOT NULL,
	[MONTO] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_TARJETA]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_TARJETA](
	[ID] [int] NOT NULL,
	[NUMERO] [bigint] NOT NULL,
	[VENCIMIENTO] [datetime] NOT NULL,
	[CVV] [int] NOT NULL,
	[TITULAR] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[NRO_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [varchar](50) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ESTADO_PAGO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[NRO_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[COD_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[PRECIO_ACTUAL] [float] NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_INGREDIENTE]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_INGREDIENTE](
	[COD_PRODUCTO] [int] NOT NULL,
	[COD_INGREDIENTE] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_INGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[COD_PRODUCTO] ASC,
	[COD_INGREDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRADUCCION]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRADUCCION](
	[ID_IDIOMA] [int] NOT NULL,
	[ID_ETIQUETA] [int] NOT NULL,
	[TRADUCCION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TRADUCCION] PRIMARY KEY CLUSTERED 
(
	[ID_IDIOMA] ASC,
	[ID_ETIQUETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [uniqueidentifier] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[BLOQUEO] [bit] NOT NULL,
	[INTENTOS] [int] NOT NULL,
	[DISPONIBILIDAD] [varchar](50) NOT NULL,
	[ID_IDIOMA] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERMISO]    Script Date: 6/24/2024 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[ID_USUARIO] [uniqueidentifier] NOT NULL,
	[ID_PERMISO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID], [NOMBRE], [APELLIDO], [DNI], [TELEFONO]) VALUES (14, N'Daniel', N'Jimenez', 123, N'123456')
INSERT [dbo].[CLIENTE] ([ID], [NOMBRE], [APELLIDO], [DNI], [TELEFONO]) VALUES (15, N'dano', N'perez', 1111, N'1111111')
INSERT [dbo].[CLIENTE] ([ID], [NOMBRE], [APELLIDO], [DNI], [TELEFONO]) VALUES (16, N'Pedro', N'Perez', 9595, N'08008881111')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[COMANDA] ON 

INSERT [dbo].[COMANDA] ([ID], [DESCRIPCION], [ID_PEDIDO], [ID_COCINERO]) VALUES (2, N'test', 8, N'd120bb82-a958-4cf4-81d7-66aa739b0dd6')
INSERT [dbo].[COMANDA] ([ID], [DESCRIPCION], [ID_PEDIDO], [ID_COCINERO]) VALUES (3, N'Test completo', 9, N'd120bb82-a958-4cf4-81d7-66aa739b0dd6')
SET IDENTITY_INSERT [dbo].[COMANDA] OFF
GO
SET IDENTITY_INSERT [dbo].[ETIQUETA] ON 

INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE]) VALUES (61, N'acept')
INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE]) VALUES (64, N'acepted')
INSERT [dbo].[ETIQUETA] ([ID], [NOMBRE]) VALUES (37, N'add')
SET IDENTITY_INSERT [dbo].[ETIQUETA] OFF
GO
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 1)
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 2)
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[IDIOMA] ON 

INSERT [dbo].[IDIOMA] ([ID], [IDIOMA], [PREESTABLECIDO]) VALUES (1, N'Español', 1)
INSERT [dbo].[IDIOMA] ([ID], [IDIOMA], [PREESTABLECIDO]) VALUES (2, N'English', 0)
INSERT [dbo].[IDIOMA] ([ID], [IDIOMA], [PREESTABLECIDO]) VALUES (4, N'test2', 0)
SET IDENTITY_INSERT [dbo].[IDIOMA] OFF
GO
SET IDENTITY_INSERT [dbo].[INGREDIENTE] ON 

INSERT [dbo].[INGREDIENTE] ([COD_INGREDIENTE], [NOMBRE], [CANTIDAD]) VALUES (1, N'Carne de res', 98)
INSERT [dbo].[INGREDIENTE] ([COD_INGREDIENTE], [NOMBRE], [CANTIDAD]) VALUES (2, N'Camarones', 193)
INSERT [dbo].[INGREDIENTE] ([COD_INGREDIENTE], [NOMBRE], [CANTIDAD]) VALUES (3, N'Pechuga de pollo', 299)
SET IDENTITY_INSERT [dbo].[INGREDIENTE] OFF
GO
INSERT [dbo].[ITEM_PRODUCTO] ([COD_PRODUCTO], [NRO_PEDIDO], [CANTIDAD], [PRECIO_COMPRA]) VALUES (4, 3, 1, 13000)
INSERT [dbo].[ITEM_PRODUCTO] ([COD_PRODUCTO], [NRO_PEDIDO], [CANTIDAD], [PRECIO_COMPRA]) VALUES (5, 3, 2, 11500)
INSERT [dbo].[ITEM_PRODUCTO] ([COD_PRODUCTO], [NRO_PEDIDO], [CANTIDAD], [PRECIO_COMPRA]) VALUES (5, 8, 3, 11500)
GO
SET IDENTITY_INSERT [dbo].[METODO_DE_PAGO] ON 

INSERT [dbo].[METODO_DE_PAGO] ([ID], [TIPO]) VALUES (3, N'Efectivo')
INSERT [dbo].[METODO_DE_PAGO] ([ID], [TIPO]) VALUES (4, N'Tarjeta')
INSERT [dbo].[METODO_DE_PAGO] ([ID], [TIPO]) VALUES (5, N'Efectivo')
SET IDENTITY_INSERT [dbo].[METODO_DE_PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGO] ON 

INSERT [dbo].[PAGO] ([ID], [FECHA], [TOTAL], [ID_METODO], [ID_PEDIDO]) VALUES (2, CAST(N'2024-06-21T20:26:04.663' AS DateTime), 39500, 3, 4)
INSERT [dbo].[PAGO] ([ID], [FECHA], [TOTAL], [ID_METODO], [ID_PEDIDO]) VALUES (3, CAST(N'2024-06-21T20:36:39.627' AS DateTime), 41500, 4, 8)
INSERT [dbo].[PAGO] ([ID], [FECHA], [TOTAL], [ID_METODO], [ID_PEDIDO]) VALUES (4, CAST(N'2024-06-21T21:34:04.583' AS DateTime), 19000, 5, 7)
SET IDENTITY_INSERT [dbo].[PAGO] OFF
GO
INSERT [dbo].[PAGO_EFECTIVO] ([ID], [MONTO]) VALUES (3, 40000)
INSERT [dbo].[PAGO_EFECTIVO] ([ID], [MONTO]) VALUES (5, 20000)
GO
INSERT [dbo].[PAGO_TARJETA] ([ID], [NUMERO], [VENCIMIENTO], [CVV], [TITULAR]) VALUES (4, 1, CAST(N'2024-07-03T20:36:10.000' AS DateTime), 1, N'sad dad')
INSERT [dbo].[PAGO_TARJETA] ([ID], [NUMERO], [VENCIMIENTO], [CVV], [TITULAR]) VALUES (6, 2222333344445555, CAST(N'2024-06-29T16:48:15.000' AS DateTime), 123, N'Test Completo')
GO
SET IDENTITY_INSERT [dbo].[PEDIDO] ON 

INSERT [dbo].[PEDIDO] ([NRO_PEDIDO], [ESTADO], [FECHA], [ID_CLIENTE], [ESTADO_PAGO]) VALUES (3, N'Aceptado', CAST(N'2024-06-16T21:58:34.710' AS DateTime), 14, N'NoPagado')
INSERT [dbo].[PEDIDO] ([NRO_PEDIDO], [ESTADO], [FECHA], [ID_CLIENTE], [ESTADO_PAGO]) VALUES (4, N'Aceptado', CAST(N'2024-06-17T17:11:16.910' AS DateTime), 15, N'Pagado')
INSERT [dbo].[PEDIDO] ([NRO_PEDIDO], [ESTADO], [FECHA], [ID_CLIENTE], [ESTADO_PAGO]) VALUES (5, N'Creado', CAST(N'2024-06-19T13:08:48.833' AS DateTime), 16, N'NoPagado')
SET IDENTITY_INSERT [dbo].[PEDIDO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (1, N'CrearPedido', N'P')
INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (2, N'VerPedidos', N'P')
INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (3, N'CobrarPedido', N'P')
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([COD_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_ACTUAL]) VALUES (4, N'Bife de chorizo', N'Bife de chorizo la parrilla con puré de papas', 13000)
INSERT [dbo].[PRODUCTO] ([COD_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_ACTUAL]) VALUES (5, N'Camarones al Ajillo', N'Camarones al ajillo con arroz', 11500)
INSERT [dbo].[PRODUCTO] ([COD_PRODUCTO], [NOMBRE], [DESCRIPCION], [PRECIO_ACTUAL]) VALUES (6, N'Pollo a la Parrilla', N'Pechuga de pollo a la parrilla con vegetales', 8000)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
INSERT [dbo].[PRODUCTO_INGREDIENTE] ([COD_PRODUCTO], [COD_INGREDIENTE]) VALUES (4, 1)
INSERT [dbo].[PRODUCTO_INGREDIENTE] ([COD_PRODUCTO], [COD_INGREDIENTE]) VALUES (4, 16)
INSERT [dbo].[PRODUCTO_INGREDIENTE] ([COD_PRODUCTO], [COD_INGREDIENTE]) VALUES (5, 2)
GO
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION]) VALUES (1, 1, N'Sesión')
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION]) VALUES (1, 2, N'Iniciar Sesión')
INSERT [dbo].[TRADUCCION] ([ID_IDIOMA], [ID_ETIQUETA], [TRADUCCION]) VALUES (1, 3, N'Cerrar Sesión')
GO
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [PASSWORD], [DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO], [BLOQUEO], [INTENTOS], [DISPONIBILIDAD], [ID_IDIOMA]) VALUES (N'd120bb82-a958-4cf4-81d7-66aa739b0dd6', N'cocinero', N'33770497398792399b958b2271b43042ec40b08a83a68bb9c7b322942b4326c7', N'EAAAADLo6U6dNNCdrkvZvb8SpnHKGTsoSkUlWTWWG+Y8EVwt', N'cocinero', N'cocinero', N'cocinero@cocinero.com', 1, 0, 0, N'Disponible', 1)
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [PASSWORD], [DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO], [BLOQUEO], [INTENTOS], [DISPONIBILIDAD], [ID_IDIOMA]) VALUES (N'8ec879b1-3c09-45e0-bf41-a704ef40946a', N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'EAAAAOjgK0hh9Epve71LgG2vpOgQZIO37IzCF4JZZhdkjxGF', N'admin', N'admin', N'admin@admin.com', 1, 0, 0, N'NoDisponible', 2)
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [PASSWORD], [DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO], [BLOQUEO], [INTENTOS], [DISPONIBILIDAD], [ID_IDIOMA]) VALUES (N'ec5f9879-1975-41a5-8098-af714c4294c4', N'jefeDeCocina', N'08667b433f5672e9e2c2b8afccc48dedd12b99e12fac19d252ee8b1516c5d93c', N'EAAAAKMCzHAhudSYDlDrq1wim4TWFcSRyKm74tBFFXKKMTmi', N'jefeDeCocina', N'Cocina', N'jefe@cocina.com', 1, 0, 0, N'NoDisponible', 1)
GO
INSERT [dbo].[USUARIO_PERMISO] ([ID_USUARIO], [ID_PERMISO]) VALUES (N'd120bb82-a958-4cf4-81d7-66aa739b0dd6', 20)
INSERT [dbo].[USUARIO_PERMISO] ([ID_USUARIO], [ID_PERMISO]) VALUES (N'8ec879b1-3c09-45e0-bf41-a704ef40946a', 6)
INSERT [dbo].[USUARIO_PERMISO] ([ID_USUARIO], [ID_PERMISO]) VALUES (N'ec5f9879-1975-41a5-8098-af714c4294c4', 5)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Nombre_Etiqueta]    Script Date: 6/24/2024 1:34:16 PM ******/
ALTER TABLE [dbo].[ETIQUETA] ADD  CONSTRAINT [UQ_Nombre_Etiqueta] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Idioma]    Script Date: 6/24/2024 1:34:16 PM ******/
ALTER TABLE [dbo].[IDIOMA] ADD  CONSTRAINT [UQ_Idioma] UNIQUE NONCLUSTERED 
(
	[IDIOMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  DEFAULT ('NoPagado') FOR [ESTADO_PAGO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_BLOQUEO]  DEFAULT ((0)) FOR [BLOQUEO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_INTENTOS]  DEFAULT ((0)) FOR [INTENTOS]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF__USUARIO__DISPONI__607251E5]  DEFAULT ('NoDisponible') FOR [DISPONIBILIDAD]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ID_IDIOMA]  DEFAULT ((1)) FOR [ID_IDIOMA]
GO
ALTER TABLE [dbo].[COMANDA]  WITH CHECK ADD  CONSTRAINT [FK_COMANDA_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([NRO_PEDIDO])
GO
ALTER TABLE [dbo].[COMANDA] CHECK CONSTRAINT [FK_COMANDA_PEDIDO]
GO
ALTER TABLE [dbo].[COMANDA]  WITH CHECK ADD  CONSTRAINT [FK_COMANDA_USUARIO] FOREIGN KEY([ID_COCINERO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[COMANDA] CHECK CONSTRAINT [FK_COMANDA_USUARIO]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO] FOREIGN KEY([ID_PADRE])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO1] FOREIGN KEY([ID_HIJO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO1]
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_PRODUCTO_PEDIDO] FOREIGN KEY([NRO_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([NRO_PEDIDO])
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO] CHECK CONSTRAINT [FK_ITEM_PRODUCTO_PEDIDO]
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_PRODUCTO_PRODUCTO] FOREIGN KEY([COD_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([COD_PRODUCTO])
GO
ALTER TABLE [dbo].[ITEM_PRODUCTO] CHECK CONSTRAINT [FK_ITEM_PRODUCTO_PRODUCTO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_METODO_DE_PAGO] FOREIGN KEY([ID_METODO])
REFERENCES [dbo].[METODO_DE_PAGO] ([ID])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_METODO_DE_PAGO]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([NRO_PEDIDO])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_PAGO_PEDIDO]
GO
ALTER TABLE [dbo].[PAGO_EFECTIVO]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[METODO_DE_PAGO] ([ID])
GO
ALTER TABLE [dbo].[PAGO_TARJETA]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[METODO_DE_PAGO] ([ID])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_INGREDIENTE_INGREDIENTE] FOREIGN KEY([COD_INGREDIENTE])
REFERENCES [dbo].[INGREDIENTE] ([COD_INGREDIENTE])
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE] CHECK CONSTRAINT [FK_PRODUCTO_INGREDIENTE_INGREDIENTE]
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_INGREDIENTE_PRODUCTO] FOREIGN KEY([COD_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([COD_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO_INGREDIENTE] CHECK CONSTRAINT [FK_PRODUCTO_INGREDIENTE_PRODUCTO]
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD  CONSTRAINT [FK_TRADUCCION_ETIQUETA] FOREIGN KEY([ID_ETIQUETA])
REFERENCES [dbo].[ETIQUETA] ([ID])
GO
ALTER TABLE [dbo].[TRADUCCION] CHECK CONSTRAINT [FK_TRADUCCION_ETIQUETA]
GO
ALTER TABLE [dbo].[TRADUCCION]  WITH CHECK ADD  CONSTRAINT [FK_TRADUCCION_IDIOMA] FOREIGN KEY([ID_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([ID])
GO
ALTER TABLE [dbo].[TRADUCCION] CHECK CONSTRAINT [FK_TRADUCCION_IDIOMA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_IDIOMA] FOREIGN KEY([ID_IDIOMA])
REFERENCES [dbo].[IDIOMA] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_IDIOMA]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERMISO_PERMISO] FOREIGN KEY([ID_PERMISO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_USUARIO_PERMISO_PERMISO]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERMISO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_USUARIO_PERMISO_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_DISPONIBILIDAD_USUARIO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_DISPONIBILIDAD_USUARIO]
    @id uniqueidentifier,
    @Disponibilidad VARCHAR(50)
AS
BEGIN


    UPDATE USUARIO
    SET DISPONIBILIDAD = @Disponibilidad
    WHERE ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_PEDIDO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ACTUALIZAR_PEDIDO]
	-- Add the parameters for the stored procedure here
	@nro int,
	@est varchar(50),
	@pag varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
 UPDATE PEDIDO 
 SET	ESTADO = @est,
		ESTADO_PAGO = @pag
 WHERE NRO_PEDIDO = @nro
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_STOCK_INGREDIENTE]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ACTUALIZAR_STOCK_INGREDIENTE] 
	-- Add the parameters for the stored procedure here
	@cod int,
	@cant int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
 UPDATE INGREDIENTE SET CANTIDAD = @cant WHERE COD_INGREDIENTE = @cod
END
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO]
	@id UNIQUEiDENTIFIER,
    @username VARCHAR(50),
    @dni VARCHAR(50),
    @nom VARCHAR(50),
    @ape VARCHAR(50),
    @email VARCHAR(50),
	@intentos int
AS
BEGIN
    UPDATE USUARIO
    SET
        USERNAME = @username,
        DNI = @dni,
        NOMBRE = @nom,
        APELLIDO = @ape,
        EMAIL = @email,
		INTENTOS = @intentos
    WHERE
         ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_ACTIVIDAD]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_ACTIVIDAD]
	@activo binary(50),
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set ACTIVO = @activo
	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_BLOQUEO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_BLOQUEO]
	@bloqueo binary(50),
	@id uniqueidentifier,
	@intentos int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set BLOQUEO=@bloqueo,
			INTENTOS=@intentos

	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_PASSWORD]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_PASSWORD]
	@password varchar(50),
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set PASSWORD=@password
	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_GRUPO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ELIMINAR_GRUPO]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	delete from GRUPO where ID_PADRE=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO_PERMISO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO_PERMISO] 
	-- Add the parameters for the stored procedure here
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	delete from USUARIO_PERMISO where ID_USUARIO=@id
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_CLIENTE]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_CLIENTE]
	-- Add the parameters for the stored procedure here
	@nom varchar(50),
	@ape varchar(50),
	@dni int,
	@tel varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into CLIENTE(NOMBRE,APELLIDO,DNI,TELEFONO) values (@nom,@ape,@dni,@tel);

	SELECT SCOPE_IDENTITY() AS NewID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_COMANDA]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_COMANDA]
    @Descripcion VARCHAR(255),
    @idPedido INT,
    @idCocinero uniqueidentifier
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO COMANDA (DESCRIPCION, ID_PEDIDO , ID_COCINERO)
    VALUES (@Descripcion, @idPedido, @idCocinero);

    SELECT SCOPE_IDENTITY() AS ComandaID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_GRUPO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_GRUPO] 
	-- Add the parameters for the stored procedure here
	@id_padre int,
	@id_hijo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	insert into GRUPO(ID_PADRE,ID_HIJO) values (@id_padre,@id_hijo);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_IDIOMA]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_IDIOMA]
    @IDIOMA VARCHAR(255),
    @PREESTABLECIDO BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO IDIOMA (IDIOMA, PREESTABLECIDO)
    VALUES (@IDIOMA, @PREESTABLECIDO);

    -- Devolver el ID del nuevo idioma insertado
    SELECT SCOPE_IDENTITY() AS NuevoID;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_ITEM_PRODUCTO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_ITEM_PRODUCTO]
    @cod INT,
    @nro INT,
    @cant INT,
    @pre FLOAT
AS
BEGIN


    INSERT INTO ITEM_PRODUCTO (COD_PRODUCTO, NRO_PEDIDO, CANTIDAD, PRECIO_COMPRA)
    VALUES (@cod, @nro, @cant, @pre);


END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_METODO_DE_PAGO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_METODO_DE_PAGO]
    @tipo VARCHAR(50)
AS
BEGIN


    INSERT INTO Metodo_De_Pago (TIPO)
    VALUES (@tipo);

    SELECT SCOPE_IDENTITY() AS MetodoDePagoId;
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PAGO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PAGO]
    @Fecha DATETIME,
    @Total FLOAT,
    @IdMetodoDePago INT,
    @IdPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Pago (FECHA, TOTAL, ID_METODO, ID_PEDIDO)
    VALUES (@Fecha, @Total, @IdMetodoDePago, @IdPedido);

    SELECT SCOPE_IDENTITY() AS PagoId;
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PAGO_EFECTIVO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PAGO_EFECTIVO]
    @MetodoDePagoId INT,
    @Monto FLOAT
AS
BEGIN

    INSERT INTO Pago_Efectivo (ID, MONTO)
    VALUES (@MetodoDePagoId, @Monto);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PAGO_TARJETA]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PAGO_TARJETA]
    @MetodoDePagoId INT,
    @Numero BIGINT,
    @Vencimiento DATETIME,
    @Cvv INT,
    @Titular VARCHAR(100)
AS
BEGIN

    INSERT INTO Pago_Tarjeta (ID, NUMERO, VENCIMIENTO, CVV, TITULAR)
    VALUES (@MetodoDePagoId, @Numero, @Vencimiento, @Cvv, @Titular);
END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PEDIDO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_PEDIDO]
    @est VARCHAR(50),
    @fec DATETIME,
    @cli INT
AS
BEGIN

SET NOCOUNT ON;
    INSERT INTO PEDIDO (ESTADO, FECHA, ID_CLIENTE)
    VALUES ( @est, @fec, @cli);

	SELECT SCOPE_IDENTITY() AS NewID;

END;
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PERMISO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_PERMISO]
	-- Add the parameters for the stored procedure here
	@nom varchar(50),
	@type varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

    -- Insert statements for procedure here
	insert into PERMISO (NOMBRE,TIPO) values (@nom,@type);
	select ID as LastID from PERMISO where ID = @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_TRADUCCION]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_TRADUCCION]
    @ID_IDIOMA INT,
    @ID_ETIQUETA INT,
    @TRADUCCION VARCHAR(255)
AS
BEGIN
    

    INSERT INTO TRADUCCION (ID_IDIOMA, ID_ETIQUETA, TRADUCCION)
    VALUES (@ID_IDIOMA, @ID_ETIQUETA, @TRADUCCION);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO] 
	-- Add the parameters for the stored procedure here
	@username varchar(50),
	@password varchar(200),
	@dni varchar(50),
	@nom varchar(50),
	@ape varchar(50),
	@email varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	declare @id uniqueidentifier = newid();

    -- Insert statements for procedure here
	insert into USUARIO (ID, USERNAME, PASSWORD, DNI, NOMBRE, APELLIDO, EMAIL) values (@id,@username,@password,@dni,@nom,@ape,@email);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO_PERMISO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO_PERMISO]
	-- Add the parameters for the stored procedure here
	@id_usuario uniqueidentifier,
	@id_permiso int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	insert into USUARIO_PERMISO (ID_USUARIO,ID_PERMISO) values (@id_usuario,@id_permiso);
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_CLIENTE]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_CLIENTE] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
SELECT * FROM CLIENTE
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_COCINERO_DISPONIBLE]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[LISTAR_COCINERO_DISPONIBLE]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.ID,
        u.USERNAME,
        u.PASSWORD,
        u.DNI,
        u.NOMBRE,
        u.APELLIDO,
        u.EMAIL,
        u.ACTIVO,
        u.BLOQUEO,
        u.INTENTOS,
        u.DISPONIBILIDAD,
		u.ID_IDIOMA
    FROM USUARIO u
    INNER JOIN USUARIO_PERMISO up ON u.ID = up.ID_USUARIO
    INNER JOIN PERMISO p ON up.ID_PERMISO = p.ID
    WHERE u.DISPONIBILIDAD = 'Disponible' AND p.NOMBRE = 'Cocinero';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_COMANDAS_EN_CURSO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_COMANDAS_EN_CURSO]
AS
BEGIN


    SELECT 
        c.ID,
        c.DESCRIPCION,
        c.ID_PEDIDO,
        c.ID_COCINERO
    FROM 
        COMANDA c
    INNER JOIN 
        PEDIDO p ON c.ID_PEDIDO = p.NRO_PEDIDO
    WHERE 
        p.ESTADO = 'EnPreparacion';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ETIQUETA]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_ETIQUETA]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM ETIQUETA
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_GRUPO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_GRUPO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	SELECT * from GRUPO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_IDIOMA]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_IDIOMA]
	-- Add the parameters for the stored procedure here
	AS
BEGIN

select * from IDIOMA
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_INGREDIENTE]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_INGREDIENTE] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	SELECT * from INGREDIENTE
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_INGREDIENTE_POR_PRODUCTO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_INGREDIENTE_POR_PRODUCTO]
	-- Add the parameters for the stored procedure here
	@cod int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select p.COD_INGREDIENTE, i.NOMBRE, i.CANTIDAD 
	from PRODUCTO_INGREDIENTE p 
	inner join INGREDIENTE i on p.COD_INGREDIENTE=i.COD_INGREDIENTE 
	where p.COD_PRODUCTO = @cod
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ITEM_POR_ORDEN]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_ITEM_POR_ORDEN]
    @nro INT
AS
BEGIN


    SELECT 
        COD_PRODUCTO,
        CANTIDAD,
        PRECIO_COMPRA
    FROM 
        ITEM_PRODUCTO
    WHERE 
        NRO_PEDIDO = @nro;
END;
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PEDIDO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PEDIDO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM PEDIDO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PEDIDO_POR_ESTADO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PEDIDO_POR_ESTADO] 
	-- Add the parameters for the stored procedure here
	@est varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT * FROM PEDIDO WHERE ESTADO = @est
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PEDIDO_POR_PAGADO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_PEDIDO_POR_PAGADO]
    @est varchar(50)
AS
BEGIN


    SELECT 
          *
    FROM 
        PEDIDO
    WHERE 
        ESTADO_PAGO = @est AND ESTADO <> 'Creado';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PERMISO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PERMISO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here
	SELECT * from PERMISO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PRODUCTO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PRODUCTO]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SElect * from PRODUCTO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLO_GRUPO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_SOLO_GRUPO] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from PERMISO where TIPO = 'G';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLO_PERMISO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_SOLO_PERMISO] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from PERMISO where TIPO = 'P';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	SELECT * from USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO_PERMISO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO_PERMISO]
	@id UNIQUEiDENTIFIER-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from USUARIO_PERMISO where ID_USUARIO=@id
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PASSWORD]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MODIFICAR_PASSWORD]
	-- Add the parameters for the stored procedure here
	@id uniqueidentifier,
	@pass varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	update USUARIO
	set 
		PASSWORD=@pass
	where 
		ID=@id
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_METODO_POR_ID]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_METODO_POR_ID]
    @id INT
AS
BEGIN


    SELECT 
        mp.ID,
        mp.TIPO
    FROM METODO_DE_PAGO mp
    WHERE mp.ID = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_PAGO_EFECTIVO_POR_ID]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_PAGO_EFECTIVO_POR_ID]
    @id INT
AS
BEGIN


    SELECT 
        *
    FROM PAGO_EFECTIVO pe
    WHERE pe.ID = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_PAGO_POR_PEDIDO]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_PAGO_POR_PEDIDO]
    @id INT
AS
BEGIN


    SELECT 
		*
    FROM PAGO p
    WHERE p.ID_PEDIDO = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_TARJETA_POR_ID]    Script Date: 6/24/2024 1:34:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_TARJETA_POR_ID]
    @id INT
AS
BEGIN


    SELECT 
*
    FROM PAGO_TARJETA pt
    WHERE pt.ID = @id;
END;
GO
USE [master]
GO
