USE [master]
GO
/****** Object:  Database [TpRESTAURANTE]    Script Date: 6/8/2024 11:26:45 PM ******/
CREATE DATABASE [TpRESTAURANTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpRESTAURANTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TpRESTAURANTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpRESTAURANTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TpRESTAURANTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpRESTAURANTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpRESTAURANTE]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO](
	[ID_PADRE] [int] NOT NULL,
	[ID_HIJO] [int] NOT NULL,
 CONSTRAINT [PK_GRUPO] PRIMARY KEY CLUSTERED 
(
	[ID_PADRE] ASC,
	[ID_HIJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [uniqueidentifier] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[BLOQUEO] [bit] NOT NULL,
	[INTENTOS] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[ID_USUARIO] [uniqueidentifier] NOT NULL,
	[ID_PERMISO] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 1)
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 2)
INSERT [dbo].[GRUPO] ([ID_PADRE], [ID_HIJO]) VALUES (4, 3)
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (1, N'CrearPedido', N'P')
INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (2, N'VerPedidos', N'P')
INSERT [dbo].[PERMISO] ([ID], [NOMBRE], [TIPO]) VALUES (3, N'CobrarPedido', N'P')
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [PASSWORD], [DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO], [BLOQUEO], [INTENTOS]) VALUES (N'8ec879b1-3c09-45e0-bf41-a704ef40946a', N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'EAAAAHIOKEy1MtQBschAH1I8aEvWxwbMxjr1us+0gjiW5EWM', N'admin', N'admin', N'admin@admin.com', 1, 0, 0)
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [PASSWORD], [DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO], [BLOQUEO], [INTENTOS]) VALUES (N'ec5f9879-1975-41a5-8098-af714c4294c4', N'jefeDeCocina', N'08667b433f5672e9e2c2b8afccc48dedd12b99e12fac19d252ee8b1516c5d93c', N'EAAAAEoOYjERV/gco8a4YLQVrqFCkFi8Y7v7Qu+QGek/xpUa', N'jefeDeCocina', N'Cocina', N'jefe@cocina.com', 1, 0, 0)
INSERT [dbo].[USUARIO] ([ID], [USERNAME], [PASSWORD], [DNI], [NOMBRE], [APELLIDO], [EMAIL], [ACTIVO], [BLOQUEO], [INTENTOS]) VALUES (N'c04a7e45-5083-4b44-92ac-c111ec60c86e', N'cajero', N'fea740101dbb727886b6908e7bc196a55054374c6827b41a60081c2525975b4d', N'EAAAAPu6JigQeEgKy7P7eE0oRcMMi2Oa4/s+jJP8vAezDunn', N'cajero', N'cajero', N'cajero@cajero.com', 1, 0, 0)
GO
INSERT [dbo].[USUARIO_PERMISO] ([ID_USUARIO], [ID_PERMISO]) VALUES (N'8ec879b1-3c09-45e0-bf41-a704ef40946a', 6)
INSERT [dbo].[USUARIO_PERMISO] ([ID_USUARIO], [ID_PERMISO]) VALUES (N'ec5f9879-1975-41a5-8098-af714c4294c4', 5)
INSERT [dbo].[USUARIO_PERMISO] ([ID_USUARIO], [ID_PERMISO]) VALUES (N'c04a7e45-5083-4b44-92ac-c111ec60c86e', 4)
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_BLOQUEO]  DEFAULT ((0)) FOR [BLOQUEO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_INTENTOS]  DEFAULT ((0)) FOR [INTENTOS]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO] FOREIGN KEY([ID_PADRE])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO1] FOREIGN KEY([ID_HIJO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO1]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERMISO_PERMISO] FOREIGN KEY([ID_PERMISO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_USUARIO_PERMISO_PERMISO]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERMISO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [FK_USUARIO_PERMISO_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZAR_USUARIO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZAR_USUARIO]
	@id UNIQUEiDENTIFIER,
    @username VARCHAR(50),
    @dni VARCHAR(50),
    @nom VARCHAR(50),
    @ape VARCHAR(50),
    @email VARCHAR(50),
	@intentos int
AS
BEGIN
    UPDATE USUARIO
    SET
        USERNAME = @username,
        DNI = @dni,
        NOMBRE = @nom,
        APELLIDO = @ape,
        EMAIL = @email,
		INTENTOS = @intentos
    WHERE
         ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_ACTIVIDAD]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_ACTIVIDAD]
	@activo binary(50),
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set ACTIVO = @activo
	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_BLOQUEO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_BLOQUEO]
	@bloqueo binary(50),
	@id uniqueidentifier,
	@intentos int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set BLOQUEO=@bloqueo,
			INTENTOS=@intentos

	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[CAMBIAR_PASSWORD]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAMBIAR_PASSWORD]
	@password varchar(50),
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	update USUARIO
		set PASSWORD=@password
	where
		ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_GRUPO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ELIMINAR_GRUPO]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	delete from GRUPO where ID_PADRE=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_USUARIO_PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR_USUARIO_PERMISO] 
	-- Add the parameters for the stored procedure here
	@id uniqueidentifier
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	delete from USUARIO_PERMISO where ID_USUARIO=@id
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_GRUPO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_GRUPO] 
	-- Add the parameters for the stored procedure here
	@id_padre int,
	@id_hijo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	insert into GRUPO(ID_PADRE,ID_HIJO) values (@id_padre,@id_hijo);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INSERTAR_PERMISO]
	-- Add the parameters for the stored procedure here
	@nom varchar(50),
	@type varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON

    -- Insert statements for procedure here
	insert into PERMISO (NOMBRE,TIPO) values (@nom,@type);
	select ID as LastID from PERMISO where ID = @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO] 
	-- Add the parameters for the stored procedure here
	@username varchar(50),
	@password varchar(200),
	@dni varchar(50),
	@nom varchar(50),
	@ape varchar(50),
	@email varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	declare @id uniqueidentifier = newid();

    -- Insert statements for procedure here
	insert into USUARIO (ID, USERNAME, PASSWORD, DNI, NOMBRE, APELLIDO, EMAIL) values (@id,@username,@password,@dni,@nom,@ape,@email);
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIO_PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIO_PERMISO]
	-- Add the parameters for the stored procedure here
	@id_usuario uniqueidentifier,
	@id_permiso int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	insert into USUARIO_PERMISO (ID_USUARIO,ID_PERMISO) values (@id_usuario,@id_permiso);
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_GRUPO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_GRUPO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    -- Insert statements for procedure here
	SELECT * from GRUPO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_PERMISO]
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here
	SELECT * from PERMISO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLO_GRUPO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_SOLO_GRUPO] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from PERMISO where TIPO = 'G';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_SOLO_PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_SOLO_PERMISO] 
	-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from PERMISO where TIPO = 'P';
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	SELECT * from USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO_PERMISO]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LISTAR_USUARIO_PERMISO]
	@id UNIQUEiDENTIFIER-- Add the parameters for the stored procedure here
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	select * from USUARIO_PERMISO where ID_USUARIO=@id
END
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_PASSWORD]    Script Date: 6/8/2024 11:26:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MODIFICAR_PASSWORD]
	-- Add the parameters for the stored procedure here
	@id uniqueidentifier,
	@pass varchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    -- Insert statements for procedure here
	update USUARIO
	set 
		PASSWORD=@pass
	where 
		ID=@id
END
GO
USE [master]
GO
